{% extends 'base.html' %}
{% load humanize %}
{% block title %}
    Новости {{ author_name }}
{% endblock %}
{% block content %}
    {#navbar#}
    {#endnavbar#}
    {#content#}
    <h1 class="display-4">{{ author_name }}</h1>


    <div class="row row-cols-2">

        {% for user_news in detail_user_news %}
            <div class="col">
                <div class="card shadow-sm">
                    <img class="bd-placeholder-img card-img-top" focusable="false" role="img"
                         width="100%" height="100%" src="{{ user_news.photo.url }}" alt="{{ user_news.photo.name }}">
                    <div class="card-body">
                        <h3 class="card-text">{{ user_news.title }}</h3>
                        <hr>
                        <a style="text-decoration: none;" href="{{ user_news.category.get_absolute_url }}"><p>{{ user_news.category }}</p>
                        </a>
                        <hr>
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="btn-group">
                                {% if author_name.id == request.user.id %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ user_news.get_absolute_url }}" role="button">Читать
                                        далее</a>
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'news:edit_news' user_news.pk %}"
                                       role="button">Редактировать</a>
                                    <a class="btn btn-sm btn-outline-secondary" href="{% url 'news:delete_news' user_news.pk %}"
                                       role="button">Удалить</a>
                                {% else %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ user_news.get_absolute_url }}" role="button">Читать
                                        далее</a>
                                {% endif %}
                            </div>
                            <small class="text-muted">{{ user_news.created_at|naturaltime }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {#endcontent#}
    <br>
    {% include 'inc/_paginator.html' %}
{% endblock %}
