{% extends 'base.html' %}
{% block title %}
    Профиль {{ user_profile.username }}
{% endblock %}
{% block content %}
    {#navbar#}
    {#endnavbar#}
    {#content#}

    <div class="jumbotron p-md-5 text-white rounded bg-dark">
        <form method="post" enctype="multipart/form-data" action="{% url 'account:edit_profile' user_profile.user_id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block">Сохранить изменения</button>
        </form>
    </div>

{% endblock %}
