{% load news_tags %}
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffffff;">
    <a class="navbar-brand" href="{% url 'news:all_news' %}">👑King News👑</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'news:add_news' %}">🖊Добавить новость<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    🗃Категории
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% get_list_category as categories %}
                    {% for c in categories %}
                        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.title }}<span class="badge badge-light">{{ c.cnt }}</span></a>
                    {% endfor %}
                </div>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        💼Аккаунт
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Мой профиль</a>
                        <a class="dropdown-item" href="#">Выйти</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        💼Аккаунт
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'account:login' %}">Авторизация</a>
                        <a class="dropdown-item" href="{% url 'account:register' %}">Регистрация</a>
                    </div>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
